{% extends 'base.html' %}
{% block head %}
<style>
#top-container{
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    border-bottom: 1px solid #ddd;
    padding: 18px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    background: white;
    display: inline-flex;
}

#nav1{
    align-items: left;
    width: 320px;
    position: relative;
    top: 0;
    left: 0;
    height:150vh;
    background: #254f63;
    color: #fff;
    transition: all 0.3s;
    float:left;
    margin-left: 5px;
}
#nav2{
    width: 320px;
    position: relative;
    top: 0;
    left: 0;
    height:150vh;
    background: #254f63;
    color: #fff;
    transition: all 0.3s; 
    margin-right: 5px;  
    float: right;
}
nav ul{
    list-style-type: none;
    margin-right: 180px;
    margin-top: 60px;
}
nav ul li{
    padding-bottom:40px;
}
input[type="submit"]{
    width:250px;
    color: white;
}
.result {
    margin: auto;
    width: 40%;
    border: 1px solid #ccc;
    text-transform: capitalize;
}
</style>
{% endblock %}
{% block body %}
 
<!--div id="top-container"-->
<section id="menu1">
    <nav id="nav1">
        <ul>
    <form action="{{ url_for('decisiontreeC') }}" method="POST">
       <li>  <input class="btn btn-outline-primary" type="submit" value="Decision Tree"> </li>
    </form>
   <form action="{{ url_for('randomforestC') }}" method="POST">
        <li> <input class="btn btn-outline-primary" type="submit" value="Randomforest"> </li>
    </form>
   <form action="{{ url_for('logisticR') }}" method="POST">
       <li> <input class="btn btn-outline-primary" type="submit" value="Logistic Regression"> </li>
    </form>
    <form action="{{ url_for('svmC') }}" method="POST">
         <li><input class="btn btn-outline-primary" type="submit" value="SVM Classifier"> </li>
    </form>
    <form action="{{ url_for('knnC') }}" method="POST">
           <li><input class="btn btn-outline-primary" type="submit" value="Knn Classifier"> </li>
    </form>
    <form action="{{ url_for('gpC') }}" method="POST">
             <li><input class="btn btn-outline-primary" type="submit" value="Guassian Process"> </li>
    </form>
</nav>
</section>
<section id="menu2">
    <nav id="nav2">
        <ul>
    <form action="{{ url_for('mlpC') }}" method="POST">
            <li> <input class="btn btn-outline-primary" type="submit" value="MLP Classifier"> </li>
    </form>
    <form action="{{ url_for('adC') }}" method="POST">
        <li>     <input class="btn btn-outline-primary" type="submit" value="ADA Boost"> </li>
    </form>
    <form action="{{ url_for('nbC') }}" method="POST">
         <li>    <input class="btn btn-outline-primary" type="submit" value="Gaussian Naive Bayes"> </li>
    </form>
    <form action="{{ url_for('qdaC') }}" method="POST">
        <li>     <input class="btn btn-outline-primary" type="submit" value="Quadratic Discriminant Analysis"> </li>
    </form>
    <form action="{{ url_for('ngnbC') }}" method="POST">
        <li>     <input class="btn btn-outline-primary" type="submit" value="MultinomialNB"> </li>
    </form>
</nav>
</section>
<!--/div-->
<br>
<h3>Select The Desired Algorithms Available Below And Get The Metrics For Comparison</h3>
<div class="result" align="center">
    <b>{{time}}</b><br>
    {% if result %}
    	<b>Accuracy</b>
   		<p style="font-size:12px">{{ result }}</p>
    {% endif %}
    {% if result %}
        
        <p style="font-size:12px">
    <table class="table table-striped">
        
    </table>
    </p>
    {% endif %}
    {% if result %}
        <b> Classification Report</b>
        {{result2.to_html(classes="table table-striped") | safe}}
    {% endif %}
</div>
<table border="1">
    <tr>
        <th><b>Algorithms</b></th>
      <th><b> Confusion Matrix</b></th>
      <th><b> Classification Report</b></th>
    </tr>
    
    {% for i in range(11) %}
    <tr>
        <td><b>{{algo[i]}}<br>Accuracy:</b>{{mat[i][0]}}</td>
        <td>
            <p style="font-size:12px">
            <table class="table table-striped">
            {% for j in mat[i][1] %}
            <tr>
            {% for k in j %}
                <td>{{k}}</td>
            {% endfor %}</tr>
            {% endfor %}
            </table>
            </p>
        </td>
        <td>{{mat[i][2].to_html(classes="table table-striped") | safe}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 