{% extends 'base.html' %}
{% block head %}
<style>
#top-container{
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    border-bottom: 1px solid #ddd;
    padding: 18px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    background: white;
    display: inline-flex;
}

#nav1{
    align-items: left;
    width: 320px;
    position: relative;
    top: 0;
    left: 0;
    height:150vh;
    background: #254f63;
    color: #fff;
    transition: all 0.3s;
    float:left;
    margin-left: 5px;
}
#nav2{
    width: 320px;
    position: relative;
    top: 0;
    left: 0;
    height:150vh;
    background: #254f63;
    color: #fff;
    transition: all 0.3s; 
    margin-right: 5px;  
    float: right;
}
nav ul{
    list-style-type: none;
    margin-right: 180px;
    margin-top: 60px;
}
nav ul li{
    padding-bottom:40px;
}
input[type="submit"]{
    width:250px;
    color: white;
}
.result {
    margin: auto;
    width: 40%;
    border: 1px solid #ccc;
    text-transform: capitalize;
}
#maintable{
    width:100%;
}
</style>
{% endblock %}
{% block body %}
<br>
<h3> Ranked List Of Algorithms</h3>
<br>
<center>
 <p>{{ranks.to_html(classes="table table-striped") | safe}}</p>
 <br>
 <br>
 <h3> Detailed Report</h3>
 <br>
<table id="maintable" border="3">
    
	<tr>
        <th><center><b>Algorithm</b></center></th>
		<th><center><b> Accuracy</b></center></th>
      <th><center><b> Confusion Matrix</b></center></th>
      <th><center><b> Classification Report</b></center></th>
      <th><center><b> Rank </b></center></th>
    </tr>
    
    {% for i in range(10) %}
    <tr>
		<td><center><b>{{mat[i][0]}}</b></center></td>
        <td><b><br></b>{{mat[i][1]}}</td>
        <td>
            <p style="font-size:12px">
            <table class="table table-striped">
            {% for j in mat[i][2] %}
            <tr>
            {% for k in j %}
                <td><center>{{k}}</center></td>
            {% endfor %}</tr>
            {% endfor %}
            </table>
            </p>
        </td>
        <td>{{mat[i][3].to_html(classes="table table-striped") | safe}}</td>
        <td>{{mat[i][4]}}</td>
    </tr>
    {% endfor %}
</table>
</center>
{% endblock %} 