{% extends 'base.html' %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<title>Display</title>

<style type="text/css">
  #container{
    display: flex;
    justify-content: center;
    margin-bottom:100px;
  }
  #dropdown1{
    display:inline;
    margin-right: 0px;
  }
  

</style>
{% endblock %}

{% block body %}
<center><h3>Your Data Set Looks Like:</h3></center>
<center><div class="table table-striped" id="table-container">
  

  <form action="" id="frm" method="post" enctype="multipart/form-data">
    <fieldset class="border p-2">
      <legend class="w-auto">Choose</legend>
  <div>
    {% for table in tables1 %}
        {{ table|safe }}
    {% endfor %}
      <tr><th>Predictors</th>
    {% for index in index %}
    <th>
      <input type="checkbox" id="id_{{index}}" name="column" value="{{index}}">
    </th>
  {% endfor %}
  </tr>
  </div>
  <div >
    <tr><th>Predict</th>
      {% for index in index %}
      <th>
       <input type="radio" id="id_{{index}}" name="predict" value="{{index}}">
      </th>
    {% endfor %}
    </tr>
  </div>
{% for table in tables2 %}
    {{ table|safe }}
{% endfor %}
<br><br><br>
{% block buttons %}{% endblock %}
</fieldset>
</form>
</div>
</center>

<div id="container">


</div>
<script>
  function submitMe(obj){
    if(obj.value == "Labelled"){
      document.getElementById('frm').action = "/prediction_classification";
    }else if(obj.value == "Unlabelled"){
     document.getElementById('frm').action = "/preclustering";
    }else{
     document.getElementById('frm').action = "/comparison";
    }
   document.getElementById('frm').submit();
  }
</script>

{% endblock %}