{% extends 'base.html' %}

{% block head %}

  <title>display</title>

{% endblock %}

{% block body %}
Abcd

<form action="" id="frm" method="post" enctype="multipart/form-data">
  {% for index in index %}
    <input type="checkbox" id="id_{{index}}" name="column" value="{{index}}">
    <label for="id_{{index}}">{{index}}</label>
{% endfor %}
<br>
<br>
    {% for index in index %}
      <input type="radio" id="id_{{index}}" name="predict" value="{{index}}">
      <label for="id_{{index}}">{{index}}</label>
  {% endfor %}
  <br>
{% block buttons %}{% endblock %}
</form>
<script>
  function submitMe(obj){
    if(obj.value == "Labeled"){
      document.getElementById('frm').action = "/prediction_classification";
    }else if(obj.value == "Unlabeled"){
     document.getElementById('frm').action = "";
    }else{
     document.getElementById('frm').action = "/comparison";
    }
   document.getElementById('frm').submit();
  }
</script>
{% for table in tables %}
    {{ table|safe }}
{% endfor %}
{% endblock %}