<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>WEB APPLICATION</title>
</head>
<body>
    {{sc}}
    {{ JSGlue.include() }}
    <table border="1">
        <tr>
            <th><b>Algorithms</b></th>
          <th><b>R-squared value</b></th>
          <th><b> Mean Absolute Error</b></th>
          <th><b> EVS</b></th>
          <th><b> MSE</b></th>
          <th><b> RMSE</b></th>
        </tr>
        {% for i in range(6) %}
        <tr>
            <td><b>{{algo[i]}}</b></td>
            {% for j in range(5) %}
          <td>
              {{mat[i][j]}}
            </td>
        {% endfor %}
        {% endfor %}
    </table>


</body>
</html>