<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>WEB APPLICATION</title>
</head>

<center><p>select the desired algorithms available below and get the metrics for comparison</p></center> 
</form>
<form action="{{ url_for('decisiontreeC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="decisiontree Classifier"></center>
    </fieldset>
</form>
</form>
<form action="{{ url_for('randomforestC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="randomforest Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('logisticR') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="logistic Regression"></center>
    </fieldset>
</form>
<form action="{{ url_for('svmC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="svm Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('knnC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="knn Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('gpC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="Guassian Process Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('mlpC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="mlpClassifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('adC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="ada boost Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('nbC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="Gaussian naive bayes Classifier"></center>
    </fieldset>
</form>
<form action="{{ url_for('qdaC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="Quadratic Discriminant Analysis"></center>
    </fieldset>
</form>
<form action="{{ url_for('ngnbC') }}" method="POST">
    <fieldset>

        <center><input type="submit" value="MultinomialNB"></center>
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	<b>Accuracy</b>
   		<p style="font-size:12px">{{ result }}</p>
    {% endif %}
    {% if result %}
        <b> Confusion Matrix</b>
        <p style="font-size:12px">
        <table border="1">
        {% for i in result1 %}
            <tr>
            {% for j in i %}
                <td>{{j}}</td>
            {% endfor %}</tr>
        {% endfor %}
    </table>
    </p>
    {% endif %}
    {% if result %}
        <b> Classification Report</b>
        {{result2.to_html(classes="table table-striped") | safe}}
    {% endif %}

</div>
</html>
